<!DOCTYPE html>

<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/charts/viewChart.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart of Accounts</title>
</head>
<%- include('../_partial/_header'); -%>

<body>
    <%- include('../_partial/help/viewChartHelp'); -%>
    <input id='cashInput' type="text" value=''>
    <input  id='hiddenNumber' type="number">
    <input id='search' placeholder="Search on Name" type ="search">
    <select id='searchSelect'>
        <option value=0>Name</option>
        <option value=1>Number</option>
        <option value=2>Description</option>
        <option value=3>Normal Side</option>
        <option value=4>Category</option>
        <option value=5>Subcategory</option>
        <option value=6>Initial Balance	</option>
        <option value=7>Debit</option>
        <option value=8>Credit</option>
        <option value=9>Balance</option>
        <option value=10>DOC</option>
        <option value=11>Creator ID</option>
        <option value=12>Order</option>
        <option value=13>Statement</option>
        <option value=14>Comment</option>

    </select>
    <% if(userType=='Admin'){%>
    <div id='adminCommands'>
        <button id='Edit'>Edit</button>
        <button id='Add'><a href='./addAccount'>Add an Account</a></button>
        <button id='Deactivate'>Deactivate</button>
    </div> 
    <table id=table>
        <th id='Name'> Name</th>
        <th id='Name'> Number</th>
        <th id='Name'> Description</th>
        <th id='Name'> Normal Side</th>
        <th id='Name'> Category</th>
        <th id='Name'> Subcategory</th>
        <th id='Name'> Initial Balance</th>
        <th id='Name'> Debit</th>
        <th id='Name'> Credit</th>
        <th id='Name'> Balance</th>
        <th id='Name'> DOC</th>
        <th id='Name'> made by USER</th>
        <th id='Name'> Order</th>
        <th id='Name'> Statement</th>
        <th id='Name'> Comment</th>
        <%   let formatter = new Intl.NumberFormat('en-US',{ style: 'currency',  currency: 'USD',   }); %>
        
        <% data.forEach(element=>{%>
            <tr>
                <%let link=`./editAccount/${element.Number}`%>
                <td><a href=<%=link%>><%=element.accountName%></a>
                    <a href=<%="./viewLedger/"+element.Number%>><img  class='journal'src='/images/journal3.jpeg'></a>
                </td> 
                <td><%=element.Number%></td> 
                <td><%=element.description%></td> 
                <td><%=element.normalSide%></td> 
                <td><%=element.category%></td>
                <td><%=element.subCategory%></td>
                <td><%=formatter.format(element.initialBalance)%></td>
                <td><%=formatter.format(element.debit)%></td>
                <td><%=formatter.format(element.credit)%></td>
                <td><%=formatter.format(element.debit - element.credit)%></td>
                <td><%=element.DOC%></td>
                <td><%=element.userID%></td>
                <td><%=element.order%></td>
                <td><%=element.statement%></td>
                <td><%=element.comment%></td>
            </tr>
        <% })%>
    </table>
<script src='/ejsscripts/editChart.js'></script>
        <%}%>
<script src='/ejsscripts/viewChart.js'></script>
<%- include('../_partial/_footer'); -%>

</body>
</html>