<!DOCTYPE html>

<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/charts/viewChart.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart of Accounts</title>
</head>
<%- include('../_partial/_header'); -%>
<%- include('../_partial/help/viewChartHelp'); -%>

<body>
    <h1>Chart of Accounts</h1>
    <div class="container">
        <select id='searchSelect'>
            <option value=0>Name</option>
            <option value=1>Number</option>
            <option value=2>Description</option>
            <option value=3>Normal Side</option>
            <option value=4>Category</option>
            <option value=5>Subcategory</option>
            <option value=6>Initial Balance	</option>
            <option value=7>Debit</option>
            <option value=8>Credit</option>
            <option value=9>Balance</option>
            <option value=10>DOC</option>
            <option value=11>Creator ID</option>
            <option value=12>Order</option>
            <option value=13>Statement</option>
            <option value=14>Comment</option>
            <option value=15>Status</option>
        </select>
        <input id='search' placeholder="Search on Name" type ="search">
        <% if(userType=='Admin'){%>
            <div id='adminCommands'>
                <button title='create new account' id='Add'><a href='./addAccount'>Add an Account</a></button>
            </div> 
        <%}%>
        <table id=table>
            <th class="tooltip" id='Name'> Name.</th>
            <th class="tooltip" id='Num'> Number.</th>
            <th class="tooltip" id='Desc'> Description.</th>
            <th class="tooltip" id='Normal'> Normal Side.</th>
            <th class="tooltip" id='Category'> Category.</th>
            <th class="tooltip" id='Subcat'> Subcategory.</th>
            <th class="tooltip" id='Initial'> Initial Balance.</th>
            <th class="tooltip" id='Debit'> Debit.</th>
            <th class="tooltip" id='Credit'> Credit.</th>
            <th class="tooltip" id='Balance'> Balance.</th>
            <th class="tooltip" id='DOC'> DOC.</th>
            <th class="tooltip" id='MadeBy'> Made by.</th>
            <th class="tooltip" id='Statement'> Statement.</th>
            <th class="tooltip" id='Comment'> Comment.</th>
            <th class="tooltip" id='Status'> Status.</th>
            <th class="tooltip" id='Log'> Event Log.</th>
    
            <%   let formatter = new Intl.NumberFormat('en-US',{ style: 'currency',  currency: 'USD',   }); %>
            
            <%TextRow.forEach(element=>{%>
                <tr>
                    <td>
                        <a href=<%= "./ledger/"+element.NAME%>>
                            <img  class='journal'src='/images/journal4.png'>
                        </a>
                        <% if(userType=='Admin'){%>
                            <%let link=`./editAccount/${element.NUMBER}`%>
                            <a href=<%=link%>><%=element.NAME%></a>
                        <%}else{%>
                            <%=element.NAME%>
                        <%}%>
                    </td>
                    <td><%=element.NUMBER%></td> 
                    <td><%=element.DESCRIPTION%></td> 
                    <td><%=element.NORMALSIDE%></td> 
                    <td><%=element.CATEGORY%></td>
                    <td><%=element.SUBCATEGORY%></td>
                    <td><%=formatter.format(element.INITIALBALANCE)%></td>
                    <td><%=formatter.format(element.DEBIT)%></td>
                    <td><%=formatter.format(element.CREDIT)%></td>
                    <td><%=formatter.format(element.BALANCE)%></td>
                    <td><%=element.DOC%></td>
                    <td><%=element.USERNAME%></td>
                    <td><%=element.STATEMENT%></td>
                    <td><%=element.COMMENT%></td>
                    <td><%=element.STATUS%></td>
                    <td><a href=<%="./eventLog/"+element.NAME%>>Event Log</a></td>
                </tr>
            <% })%>
        </table>
    </div>      
    <script src='/ejsscripts/viewChart.js'></script>
    <%- include('../_partial/_footer'); -%>
            
</body>
</html>