<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/charts/addAccount.css'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
</head>
<%- include('../_partial/_header'); -%>

<body>
    <table id='table'>
        <th>Field</th>
        <th>New Value</th>
        <th>Original Value</th>
        <td><%=data.Name %></td>

        <form id='form' method="POST" action=''>
        <tr>
            <th>Name</th>
            <td class='formInput'><input name='Name'type="text"></td>
            <td><%=data.accountName %></td>
        </tr>
        <tr>
            <th>Number</th>
            <td class='formInput'><input type="number" name='Number' value=1000 type="text" min=1000 max=2000></td>
            <td><%=data.Number %></td>
        </tr>  
        <tr>
            <th>Description</th>
            <td class='formInput'><input name='Description'type="text"></td>
            <td><%=data.description %></td>
        </tr> 
        <tr>
            <th>Normal Side</th>
            <td class='formInput'>
                <select form='form' name='Normal'>
                    <option value='Credit'>Credit</option>
                    <option value='Debit'>Debit</option>
                </select>
            </td>
            <td><%=data.normalSide %></td>
        </tr>  
        <tr>
            <th>Category</th>
            <td class='formInput'><input name='Category' type="text"></td>
            <td><%=data.category %></td>
        </tr>  
       <tr>
        <th>Sub-Category</th>
        <td class='formInput'><input name='Sub-Category' type="text"></td>
        <td><%=data.subCategory %></td>
    </tr>
        <tr>
            <th>Initial Balance</th>
            <td class='formInput'><input name='Initial-Balance'type="number"></td>
            <td><%=data.initialBalance %></td>
        </tr>
        <tr>
        <th>Credit</th>
        <td class='formInput'><input name='Credit' type="number"></td>
        <td><%=data.credit %></td>
    </tr>
        <th>Debit</th>
        <td class='formInput'><input name='Debit' type="number"></td>
        <td><%=data.debit %></td>
    </tr>
        <th>Balance</th>
        <td class='formInput'><input name='Balance' type="number"></td>
        <td><%=data.balance %></td>
    </tr>
        <th>Order</th>
        <td class='formInput'><input name='Order'type="number"></td>
        <td><%=data.order %></td>
    </tr>
        <th>Statement</th>
        <td class='formInput'><input name='Statement'type="text"></td>
        <td><%=data.statement %></td>
    </tr>
        <th>Comment</th>
        <td class='formInput'><input name='Comment'type="text"></td>
        <td><%=data.comment %></td>
    </tr>
        <button type="submit">Submit</button>
        </form>
    </table>
</body>
</html>