<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel='stylesheet' href='/stylesheets/allusers.css'>
</head>
<body>
    <table>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Email Address</th>
        <th>PED</th>
        <th>DOC</th>
        <%TextRow.forEach(element=>{ %>
            <% let link=`./edit?USERNAME=${element.USERNAME}&FIRSTNAME=${element.FIRSTNAME}&LASTNAME=${element.LASTNAME}&DOB=${element.DOB}&EMAIL=${element.EMAIL}&PED=${element.PED}&DOC=${element.DOC}&PASSWORD=${element.PASSWORD}`;%>
            <tr>
                <td><a href=<%=link%>>
                        <%= element.FIRSTNAME %>
                </td>
                <td>
                    <%= element.LASTNAME %>
                </td>
                <td>
                    <%= element.DOB %>
                </td>
                <td>
                <%= element.EMAIL %>
                </td>
                <td>
                    <%= element.PED %>
                </td>
                <td>
                <%= element.DOC %>
                </td>
            </tr>
        <% })%>
       
    </table>

</body>

</html>