<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel='stylesheet' href='/stylesheets/allusers.css'>
    <link rel='icon' href='/images/logo.png' sizes='any'>
</head>

<body>
    <%- include('../_partial/_header'); -%>
    <div class="buffer">
        <div class="whitespace">

        </div>
        <div class="container">
            <div class="heading">
                <h1>User Report</h1>
            </div>
            <div class="tableFixHead">
                <table id='table'>
                    <thead>
                        <th id='userNameHeader'>Username.</th>
                        <th id='firstNameHeader'>First Name.</th>
                        <th id='lastNameHeader'>Last Name.</th>
                        <th id='typeHeader'>User Type.</th>
                        <th id='statusHeader'>Status.</th>
                    </thead>
                    <tbody>
                        <%TextRow.forEach(element=>{ %>
                        <% let
                            link=`./edit?USERNAME=${element.USERNAME}`;%>
                            <tr>
                                <td><a href=<%=link%>>
                                    <%= element.USERNAME %>
                                </td>
                                <td>
                                    <%= element.FIRSTNAME %>
                                </td>
                                <td>
                                    <%= element.LASTNAME %>
                                </td>
                                <td>
                                    <%= element.USERTYPE %>
                                </td>
                                <td>
                                    <%= element.APPROVED %>
                                </td>
                            </tr>
                        <% })%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="whitespace">

        </div>
    </div>
    <script src="/ejsscripts/allusers.js"></script>
</body>

</html>