<!DOCTYPE html>
<%- include('../_partial/_header'); -%>
<table style="border-collapse: collapse; width: 100%; height: 36px;" border="1">
    
    <tbody>

    <th style="width: 14.2857%; height: 18px; text-align: center;">Username</th>
    <th style="width: 14.2857%; height: 18px; text-align: center;">First Name</th>
    <th style="width: 14.2857%; height: 18px; text-align: center;">Last Name</th>
    <th style="width: 14.2857%; height: 18px; text-align: center;">Email</th>
    <th style="width: 14.2857%; height: 18px; text-align: center;">DOB</th>
    <th style="width: 14.2857%; height: 18px; text-align: center;">Password</th>
    <th style="width: 14.2857%; height: 18px; text-align: center;">Status</th>
    
        <tr>
            <td>
                <input type="text" name="Username" id="inputUsername" value="<%=USERNAME%>" placeholder="Username" autofocus>
            </td>
            <td>
                <input type="text" name="First" id="inputFirstName" value="<%=FIRSTNAME%>" placeholder="First" autofocus>
            </td>
            <td>
                <input type="text" name="Last" id="inputLastName" value="<%=LASTNAME%>" placeholder="Last" autofocus>
            </td>
            <td>
                <input type="text" name="email" id="inputEmail" value="<%=EMAIL%>" placeholder="Email" autofocus>
            </td>
            <td>
                <input type="text" name="DOB" id="inputDOB" value="<%=DOB%>" placeholder="DOB" autofocus>
            </td>
            <td>
                <input type="text" name="Password" id="inputPassword" value="<%=PASSWORD%>" placeholder="Password" autofocus>
            </td>
            <td style="width: 14.2857%; height: 18px; text-align: center;" >
                <select Status = "Select" on change = "getValue(this)">
                    <option value ="$">deny</option>
                    <option value ="allow">allow</option>
                </select>
            </td>
            <td><form><input type = "submit"/></form></td>
        </tr>
    </tbody>
    </div>
<%- include('../_partial/_footer'); -%>