<!DOCTYPE html>

<html lang="en">

<head>
    <link rel='stylesheet' href='/stylesheets/charts/viewChart.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ledger</title>
    <link rel='stylesheet' href='/stylesheets/transactions/journal.css'>
</head>
<%- include('../_partial/_header'); -%>
<body>
    <%   let formatter = new Intl.NumberFormat('en-US',{minimumFractionDigits:2}); %>

                <h1><%=Name %></h1>
                <table id='table'>
                    <tr>
                        <th>Transaction Date</th>
                        <th>PR</th>
                        <th>Debits</th>
                        <th>Credits</th>
                        <th>Balance</th>
                        <th>Description</th>
                    </tr>
                    <%data.TextRow.forEach(element=>{%>
                        <tr>
                            <td><%=element.DATE%></td>
                            <td><a href=<%= `/./${userType}/viewTransaction/${element.ID}`%>> <%=element.ID%> </a></td>
                            <td><%=formatter.format(element.DEBIT)%></td>
                            <td><%=formatter.format(element.CREDIT)%></td>
                            <td><%=formatter.format(element.BALANCE)%></td>
                            <td><%=element.DESCRIPTION%></td>
                        </tr>
                        <% })%>
                </table>
</body>