<!DOCTYPE html>

<html lang="en">

<head>
    <link rel='stylesheet' href='/stylesheets/charts/viewChart.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart of Accounts</title>
    <link rel='stylesheet' href='/stylesheets/transactions/journal.css'>
</head>
<%- include('../_partial/_header'); -%>
            <body>
                <h1><%=`ACCOUNT NAME GOES HERE` %></h1>
                <table id='table'>
                    <tr>
                        <th>|Transaction Date|</th>
                        <th>PR|</th>
                        <th>Debits|</th>
                        <th>Credits|</th>
                        <th>Balance|</th>
                        <th>Description|</th>
                    </tr>
                    <%TextRow.forEach(element=>{%>
                        <tr>
                            <td><%=element.DATE%></td>
                            <td><a href=<%= "./viewTransaction/"+element.ID%>> <%=element.ID%> </a></td>
                            <td><%=element.DEBIT%></td>
                            <td><%=element.CREDIT%></td>
                            <td><%=element.BALANCE%></td>
                            <td><%=element.DESCRIPTION%></td>
                        </tr>
                        <% })%>

                </table>
        </body>