<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Transaction</title>
</head>
<%- include('../_partial/_header'); -%>

<body>
    <button id='Reject'>Approve Transaction</button>
    <button id='Reject'>Reject Transaction</button>

    <table id='table'>
        <tr>
            <th>Date</th>
            <th>Transaction ID</th>
            <th>Creator</th>
            <th>Account Affected</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Description</th>
            <th>Comment</th>
            <th>Status: <%=TextRow[0].STATUS%></th>
        </tr>
        <%TextRow.forEach(element=>{%>
            <tr>
                <td>
                    <%=element.DATE%>
                </td>
                <td>
                    <%=element.ID%>
                </td>
                <td>
                    <%=element.USERNAME%>
                </td>
                <td>
                    <%=element.ACCOUNT%>
                </td>
                <td>
                    <%=element.DEBIT%>
                </td>
                <td>
                    <%=element.CREDIT%>
                </td>
                <td>
                    <%=element.DESCRIPTION%>
                </td>
                <td>
                    <input name='Comment' type='text'>
                </td>
            </tr>
            <% })%>
</body>
</html>