<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/transactions/journal.css'>
    <title>View Transaction</title>
</head>
<%- include('../_partial/_header'); -%>

<body>


    <table id='table'>
        <tr>
            <th>Date</th>
            <th>Transaction ID</th>
            <th>Creator</th>
            <th>Account Affected</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Description</th>
            <th>Comment</th>
            <th>Status: <%=TextRow[0].STATUS%></th>
        </tr>
        <%TextRow.forEach(element=>{%>
            <tr>
                <td><%=element.DATE%></td>
                <td><%=element.ID%></td>
                <td> <%=element.USERNAME%></td>
                <td><%=element.ACCOUNT%></td>
                <td><%=element.DEBIT%></td>
                <td><%=element.CREDIT%> </td>
                <td><%=element.DESCRIPTION%></td>
                <td><input name='Comment' type='text'></td>
            </tr>
            <% })%>
    </table>
    <%if(TextRow[0].STATUS='Pending'){ %>
        <form id="approveForm"  action=<%='./Approve/'+TextRow[0].ID%> method="POST">
            <button id='Approve'>Approve Transaction</button> 
        </form>
        <form action=''method="POST"id='RejectForm'>
            <div>
                <label for='comment'>Comment</label><textarea form='RejectForm' id=Comment cols="50" rows='4'></textarea>
                <button id='Reject'>Reject Transaction</button>
            </div>
        </form>
   <% } %>
  
    
</body>
</html>